@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --gris: #f3f3f3;
  --negro: #1d2a2a;
  --morado: #4e4ebd;
  --morado-100: #2e2e67;
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

* {
  color: var(--negro);

  font-family: Poppins, sans-serif;
}

h1 {
  font-weight: 700;
}
h2 {
}

.btn {
  background-color: var(--gris);
  color: var(--morado);
  border-radius: var(--radius-4xl) /* 2rem = 32px */;
  padding-inline: calc(var(--spacing) * 6) /* 1.5rem = 24px */;
  padding-block: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
  font-weight: var(--font-weight-medium) /* 500 */;
  &:hover {
    background-color: var(--morado);
    color: white;
  }
}
.btn-secondary {
  background-color: var(--morado);
  color: white;
  &:hover {
    background-color: var(--morado-100);
  }
}
