@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 p-0 h-full;
  }
  * {
    @apply text-negro font-poppins;
  }
  input {
    @apply m-2;
  }
  h1 {
    @apply font-bold;
  }
  button {
    @apply bg-gris  hover:bg-indigo-500 cursor-pointer rounded-lg px-3 py-2 font-semibold;
  }
  label {
    @apply self-center max-h-[40px]  rounded-lg px-6 py-3 font-medium;
  }
  select {
    @apply bg-white;
  }
}

@layer components {
  .App {
    @apply font-poppins text-center h-screen w-screen;
  }
  .slot {
    @apply rounded-lg px-3 py-2 font-semibold;
  }
  .logo {
    @apply max-h-full w-[150px] h-[150px];
  }
  .contenedor {
    @apply flex gap-5 self-center;
  }
  #remera {
    @apply h-[300px] w-[300px];
  }
  .status {
    @apply px-2 py-1 font-medium;
  }
  .btn {
    @apply bg-gris  hover:bg-indigo-500 cursor-pointer rounded-lg px-3 py-2 font-semibold;
  }
  .btn-secondary {
    @apply bg-indigo-600 text-white hover:bg-indigo-500 cursor-pointer;
  }

  .btn-red {
    @apply bg-red text-white hover:bg-red-dark cursor-pointer;
  }

  .btn-blue {
    @apply bg-blue text-white hover:bg-blue-dark cursor-pointer;
  }

  .btn-green {
    @apply bg-green text-white hover:bg-green-dark cursor-pointer;
  }

  .btn-grey {
    @apply bg-grey text-white hover:bg-grey-dark cursor-pointer;
  }
  .btn-yellow {
    @apply bg-yellow-500 text-white hover:bg-yellow-600 cursor-pointer;
  }
}
